@font-face {
  font-family: playfairDisplays;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(fonts/Lato-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: playfairDisplays;
}
body {
  background-color: #f5ebe0;
}
/* header -------*/
header {
  width: 100%;
  background-color: #669bbc;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  user-select: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.32);
}
header img {
  width: 80px;
}
/* header end*/

/* slideshow -------*/
.img-slideshow {
  display: flex;
  justify-content: center;
  user-select: none;
  margin-top: 10px;
}
.img-slideshow .container {
  width: 1300px;
  height: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.21);
  position: relative;
}
.img-slideshow .container .dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  display: flex;
  gap: 5px;
}
.img-slideshow .container .dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f5ebe0;
}
.img-slideshow .container .dots .dot.active {
  background-color: #fb8500;
}
.img-slideshow .container ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  color: #fb8500;
  cursor: pointer;
}
.img-slideshow .container .backBtn {
  left: 0px;
}
.img-slideshow .container .forwardBtn {
  right: 0px;
}
.img-slideshow .container .slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  transition: 0.3s;
}
.img-slideshow .container .slide.active {
  display: block;
}
.img-slideshow .container .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-slideshow .container .slide .description {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.475);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: normal;
}
.img-slideshow .container .slide .description span {
  font-weight: bold;
  color: #fb8500;
}
/* slideshow end*/

/* search engine section ------- */
.searchInputSection {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-family: lato;
}
.searchInputSection .container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.searchInputSection .container input {
  width: 100%;
  font-family: lato;
  padding: 10px 15px;
  font-size: 17px;
  border: 1px solid #fb8500;
  outline: 0;
  border-radius: 5px;
}
.searchInputSection .container button {
  padding: 15px 20px;
  font-size: 20px;
  background-color: #fb8500;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
}
/* search engine section end*/

/* search results section -------*/
.search-results-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.search-results-section .container {
  width: 1300px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-gap: 10px;
}
.search-results-section .alert {
  display: none;
  width: 1300px;
  background: #bb2124;
  margin: 20px 0;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.search-results-section .alert p {
  font-family: lato;
  font-size: 20px;
}
.search-results-section .loading-animation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #fb8500;
  animation: loadingAnimation 1s linear infinite;
  display: none;
  margin: 20px 0;
}
@keyframes loadingAnimation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.search-results-section .container .result {
  width: 100%;
  height: fit-content;
  position: relative;
  user-select: none;
}
.search-results-section .container .result img {
  width: 100%;
}
.search-results-section .container .result ion-icon {
  position: absolute;
}
.search-results-section .container .result .expandBtn {
  left: 0;
  top: 0;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.21);
  color: #fff;
}
.search-results-section .pageIndicator {
  margin: 10px 0;
  display: none;
  gap: 5px;
}
.search-results-section .pageIndicator button {
  font-size: 20px;
  padding: 10px 20px;
}
.search-results-section .pageIndicator .prev {
  display: none;
}
.fullScreenEl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}
.fullScreenEl img {
  height: 70%;
}
/* search results section end */

/* footer -------*/
footer {
  display: flex;
  justify-content: center;
  background-color: #669bbc;
  padding: 10px 0;
  margin-top: 10px;
}
footer .container {
  width: 1300px;
  display: flex;
  align-items: center;
}
footer .container a img {
  width: 80px;
}
footer .container .call-footer {
  font-size: 20px;
  font-family: lato;
}
/* footer end */

/* media slidshow*/
@media (max-width: 1310px) {
  .img-slideshow .container {
    width: 1100px;
    height: 500px;
  }
  .searchInputSection .container {
    width: 1100px;
  }
  .search-results-section .container {
    width: 1100px;
  }
  footer .container {
    width: 1100px;
  }
}
@media (max-width: 1110px) {
  .img-slideshow .container {
    width: 900px;
    height: 400px;
  }
  .img-slideshow .container .slide .description
  {
    font-size: 22px;
  }
  .searchInputSection .container {
    width: 900px;
  }
  .search-results-section .container {
    width: 900px;
  }
  .search-results-section .container .result .expandBtn {
    left: 0;
    top: 0;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.21);
    color: #fff;
  }
  footer .container {
    width: 900px;
  }
  footer .container .call-footer {
    font-size: 15px;
  }
}
@media (max-width: 910px) {
  .img-slideshow .container {
    width: 700px;
    height: 400px;
  }
  .img-slideshow .container .slide .description
  {
    font-size: 22px;
  }
  .searchInputSection .container {
    width: 700px;
  }
  .search-results-section .container {
    width: 700px;
  }
  .searchInputSection .container input {
    font-size: 15px;
  }
  .fullScreenEl img {
    width: 50%;
  }
  footer .container {
    width: 700px;
  }
}
@media (max-width: 710px) {
  .img-slideshow
  {
    margin: 0;
  }
  .img-slideshow .container {
    width: 100%;
    height: 300px;
  }
  .img-slideshow .container .slide .description
  {
    font-size: 22px;
  }
  .searchInputSection .container {
    width: 500px;
  }
  .search-results-section .container {
    width: 500px;
  }
  .searchInputSection .container button {
    padding: 10px 15px;
    font-size: 15px;
  }
  .search-results-section .pageIndicator button
  {
    font-size: 16px;
    padding: 5px 10px;
  }
  .search-results-section .container .result .expandBtn {
    padding: 15px;
    font-size: 17px;
  }
  footer .container {
    width: 500px;
  }
  footer .container .call-footer {
    font-size: 10px;
  }
}
@media (max-width: 510px) {
  .img-slideshow .container {
    width: 100%;
    height: 250px;
  }
  .img-slideshow .container .slide .description
  {
    font-size: 20px;
  }
  .img-slideshow .container ion-icon {
    font-size: 17px;
    padding: 15px;
  }
  .searchInputSection .container {
    width: 400px;
  }
  .search-results-section .container {
    width: 400px;
    grid-template-columns: auto auto;
  } 
  .searchInputSection .container input
  {
    padding: 7px;
  }
  footer .container {
    width: 400px;
  }
  footer .container .call-footer {
    font-size: 10px;
  }
}

@media (max-width: 410px) {
  .img-slideshow .container {
    width: 100%;
    height: 250px;
  }
  .img-slideshow .container .slide .description
  {
    font-size: 20px;
  }
  .searchInputSection .container {
    width: 300px;
  }
  .search-results-section .container {
    width: 300px;
    grid-template-columns: auto auto;
  } 
  .searchInputSection .container input
  {
    padding: 7px;
  }
  footer .container {
    width: 300px;
  }
  footer .container .call-footer {
    font-size: 10px;
  }
}
/* media  slideshow end*/
